@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sans;
  src: url(/fonts/IRANSans_Bold.woff) format('woff');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: sans;
  src: url(/fonts/IRANSans_Light.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: sans;
  src: url(/fonts/IRANSans_Medi.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'sans', sans-serif !important;
  direction: rtl;
}
.newsfeed li:before {
  position: absolute;
  right: 4px;
  top: 0;
  content: '';
  height: 100%;
  width: 0;
  border-right: 2px solid #d2cfc9;
}

.newsfeed li:after {
  position: absolute;
  top: 0;
  right: -1px;
  margin-right: 0px;
  content: '';
  /* counter-increment: steps; */
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  line-height: 24px;
  background: #d2cfc9;
  transition: all 0.6s;
}

.newsfeed li:hover:after {
  background-color: #3730a3;
}
