@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eaecee;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 29.5rem;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 29.5rem;
  width: 100%;
  position: absolute;
}

.h-33rem {
  height: 33rem;
}

.has-small-font-size {
  font-size: 13px;
  line-height: 20px;
}

.has-medium-font-size {
  font-size: 16px;
  line-height: 24px;
}

.has-small-font-size {
  font-size: 22px;
  line-height: 32px;
}

ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

.list-margin li {
  margin-left: 15px !important;
}
